body{
    margin:0%;
    padding:0%;
    background-color:#ADD8E6  ;
}

.name{
    font-family: sans-serif;
    text-align:center;
    padding-left:5%;
    font-size:xx-large;
    padding-top:3%;
}
.main{
    background-color:whitesmoke;
    width:50%;
    height:50%;
    margin:10% 25%;
    margin-top:5%;
}
button{
    background-color: black;
    color:white;
    font: 20%;
    padding:2%;
    margin-left:45%;
    margin-bottom:2%;
}
img{
    width:25%;
    padding:2% 40%;
    border-radius: 50%;
    margin-top:1%;
}
p{
    margin:1% 5%;
    font-size:larger;
    font-family: sans-serif;
    padding:1%;
}